{% extends "base.html" %}

{% block title %}Order #{{ order.id }} details{% endblock %}

{% block content %}
<br>
<div class="container" style="background-color: rgba(255, 255, 255, 0.9);">
    <h1 class="order-num">Order #{{ order.id }} Details</h1>
    <table class="table table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">Item ID#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>        
        </tr>
    </thead>
    <tbody>
    {% for item in order.items %}
        <tr>
            <th scope="row">{{ item.cart_items.id }}</th>
            <td>{{ item.cart_items.name }}</td>
            <td>
            {{ item.quantity }} @ ${{ item.cart_items.price }}
            </td>
            <td>${{ item.quantity * item.cart_items.price }}</td>
        </tr>
    {% endfor %}

    <tr>
        <th>Grand Total:</th>
        <td>${{ total }}</td>
    </tr>
    </tbody>        
    </form>
    </table>
</div>
{% endblock %}