{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Order #{{cart.id}} Details</h1>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Item ID#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
            <th scope="col">Delete</th>        
        </tr>
    </thead>
    <tbody>
    {% for item in cart.items %}
        <tr>
            <th scope="row">{{ item.cart_items.id }}</th>
            <td>{{ item.cart_items.name }}</td>
            <td>
            {{ item.quantity }} @ ${{ item.cart_items.price }}
            </td>
            <td>${{ item.quantity * item.cart_items.price }}</td>
            <td><form action="/shop/items/{{ item.cart_items.id }}/delete" method="POST"><button type="submit"><i class="fa fa-trash"></i></button></form></td>
        </tr>
    {% endfor %}

    <tr>
        <th>Grand Total:</th>
        <td>${{ total }}</td>
    </tr>
    </tbody>
    <form action="/users/{{ user.id }}/cart/checkout" method="POST" class="form-inline">
        
    </form>
    </table>
</div>
{% endblock %}