{% extends 'base.html' %}

{% block content %}
<main role="main">
    <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Weed</h1>
        <p class="lead text-muted">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolore hic ad repellat dolorum nemo quisquam dolores! Aut laboriosam, neque, sit harum rerum totam adipisci voluptates quis porro, amet beatae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam non assumenda explicabo enim ullam cumque, delectus quae voluptate expedita animi vel eos unde ex tempore molestias hic, nihil fugit deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, officia voluptatum. Suscipit magnam magni, earum neque quibusdam error soluta, esse cum natus ea animi, voluptates quo. At obcaecati porro quaerat?
        </p>
        <p>
            <a href="#" class="btn btn-success my-2">Weed</a>
            <a href="#" class="btn btn-dark my-2">Your Weed</a>
        </p>
    </div>
    </section>
</main>
{% endblock %}