<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2a777b9f36.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %} - Weed Store</title>
</head>
<body>
<header>
<nav class="search-bar navbar navbar-light navbar-expand-lg justify-content-between" style="background-color: white;">
{% block nav %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="#navbarToggler" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
</button>
<a href="/" class="navbar-brand">
    <img src="/static/assets/logo.png" width="90" height="40" alt="">
</a>
<div class="collapse navbar-collapse" id="navbarToggler">
{% if 'of_age' or 'user_id' in session %}
<form class="form-inline my-2 my-lg-0" action="/shop/search">
    <select name="search-param" id="search-param" class="mdb-select form-control md-form nav-item">
        <option value="" disabled selected>Search By...</option>
        <option value="name">Name</option>
        <option value="description">Description</option>
    </select>
    <input type="text" name="keyword" class="form-control mr-sm-2 nav-item" placeholder="Keyword"/>
    <button type="submit" class="btn btn-success">Search Store</button>
</form>
<ul class="nav navbar-nav navbar-right">
    {% if 'user_id' not in session %}
        <li class="nav-item"><a class="nav-link" href="/users/signup">Sign up</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
    
    {% else %}
        <li class="nav-item"><a class="nav-link" href="/users/{{ user.id }}/profile">Account Details</a></li>
        <li class="nav-item"><a href="/users/{{user.id}}/cart" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>

    {% endif %}
{% endif %}    
</ul>
</div>
{% endblock %}
</nav>
</header>

<div class="container">
    {% block msgs %}

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% endblock %}
</div>

{% block content %}
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>