    {% extends 'base.html' %}

{% block title %}{{ item.name }} Details {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle text-muted">{{ item.race }}</h6>
                <p class="card-text">{{ item.description }}</p>
                <form action="/shop/items/{{item.id}}/add" method="POST" class="form-inline">
                    <p>
                        {% for field in form if field.widget.input_type != 'hidden' %}
                            {{ field.label }}
                            {{ field(placeholder=field.label.text, class_="form-inline")}}
                        {% endfor %}
                    </p>
                    <button class="btn btn-success">Add To Cart</button>
                </form>
                {# <ul>
                {% for effect in item.effects %}
                <h3>Medical Uses:</h3>
                    {% if effect.effect_type == 'medical' %}
                    <li class="list-group-item"> {{ effect.name }} </li>

                <h3>Positive Effects:</h3>
                    {% elif effect.effect_type == 'positive' %}
                    <li class="list-group-item"> {{ effect.name }} </li>
                <h3>Negative:</h3>
                    {% else %}
                    <li class="list-group-item"> {{ effect.name }} </li>
                    {% endif %}
                {% endfor %} #}
                {# </ul> #}
                <div class="row">
                {# <h2>Effects:</h2> #}
                <ul class="list-group fx col-md-4">
                    <h3>Medical Uses</h3>
                    <p class="lead">Customers use {{item.name}} to treat: </p>
                    {% for effect in item.effects %}
                        {% if effect.effect_type == 'medical' %}
                            <li class="list-group-item">{{ effect.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="list-group  col-md-4">
                    <h3>Positive Effects</h3>
                    <p class="lead">Customers like {{item.name}} for making them feel: </p>
                    {% for effect in item.effects %}
                        {% if effect.effect_type == 'positive' %}
                            <li class="list-group-item">{{ effect.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="list-group fx col-md-4">
                    <h3>Negative Effects</h3>
                    <p class="lead">Customers using {{ item.name }} sometimes experience: </p>
                    {% for effect in item.effects %}
                        {% if effect.effect_type == 'negative' %}
                            <li class="list-group-item">{{ effect.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </div>
            </div>
</div>
{% endblock %}