{% extends 'base.html' %}
{% block title %}User Login {% endblock %}
{% block content %}
<div class="container">
<form action="/users/login" method="POST">
<div class="form-group">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(placeholder=field.label.text, class_="form-control") }}
        </p>
    {% endfor %}
    <button class="btn btn-success">Submit</button>
</div>
</form>
</div>
{% endblock %}